/* Basic Styling */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.product-form {
    max-width: 1200px;
    padding: 15px;
    display: flex;
    margin: 3% auto 0;
}

/* Columns */
.left-column {
    position: relative;
    margin-top: 7.5rem;
}

.right-column {
    margin-top: 60px;
}


/* Left Column */
.left-column img {
    width: 80%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    box-shadow: 8px 8px 10px #aaa;
    transition: all 0.3s ease;
}

.left-column img.active {
    opacity: 1;
}


/* Right Column */

/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}

.product-description p {
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
    margin-bottom: 15px;
}

/* Product Configuration */
.service-config span {
    font-size: 14px;
    font-weight: 400;
    color: #86939E;
    margin-bottom: 20px;
    display: inline-block;
}


/* Cable Configuration */
.service-choose {
    margin-bottom: 20px;
}

.service-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
}

.service-choose button:hover,
.service-choose button:active,
.service-choose button:focus {
    border: 2px solid #86939E;
    outline: none;
}

.service-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.service-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
}

.service-config a:before {
    content: "?";
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 14px;
    opacity: 0.5;
    margin-right: 5px;
}

/* Product Price */
.product-price {
    display: flex;
    align-items: center;
}

.product-price-value {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

.cart-btn:hover {
    background-color: #64af3d;
}

/* Responsive */
@media (max-width: 940px) {
    .container {
        flex-direction: column;
        margin-top: 60px;
    }

    .left-column,
    .right-column {
        width: 100%;
    }

    .left-column img {
        width: 300px;
        right: 0;
        top: -65px;
        left: initial;
    }
}

@media (max-width: 535px) {
    .left-column img {
        width: 220px;
        top: -85px;
    }
}

#description {
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
}

#pac-container {

}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-size: 13px;
    font-weight: 300;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

.container {
    padding-left: 0px;
    padding-bottom: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.btn--primary {
    background: #7f8ff4;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 36px;
}

.btn--primary:hover {
    background: #6c7ff2;
}

.btn--primary:active {
    background: #7f8ff4;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn--inside {
    margin-left: -96px;
}

.form__field {
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}


/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
    position: relative;
    overflow: hidden;
}

.product-detail-table .ps__rail-y {
    width: 9px;
    background-color: transparent;
    opacity: 1 !important;
    right: 5px;
}

.product-detail-table .ps__rail-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
}

.product-detail-table .ps__rail-y .ps__thumb-y {
    width: 100%;
    right: 0;
    background-color: transparent;
    opacity: 1 !important;
}

.product-detail-table .ps__rail-y .ps__thumb-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #cccccc;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 1366px;
    margin: 0 auto;
}

.container-product-detail-table {
    width: 100%;
    min-height: 100vh;
    background: #fff;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-product-detail-table {
    width: 1170px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.product-detail-table {
    background-color: #fff;
}

table {
    width: 100%;
}

th, td {
    font-weight: unset;
    padding-right: 10px;
}

.column1 {
    width: 33%;
    padding-left: 40px;
}

.column2 {
    width: 13%;
}

.column3 {
    width: 22%;
}

.column4 {
    width: 19%;
}

.column5 {
    width: 13%;
}

.product-detail-table-head th {
    padding-top: 18px;
    padding-bottom: 18px;
}

.product-detail-table-body td {
    padding-top: 16px;
    padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.product-detail-table {
    position: relative;
    padding-top: 60px;
}

.product-detail-table-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.product-detail-table-body {
    max-height: 585px;
    overflow: auto;
}


/*==================================================================
[ Ver1 ]*/

.product-detail-table.ver1 th {
    color: #fff;
    line-height: 1.4;

    background-color: #6c7ae0;
}

.product-detail-table.ver1 td {
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
}

.product-detail-table.ver1 .product-detail-table-body tr:nth-child(even) {
    background-color: #f8f6ff;
}

/*---------------------------------------------*/

.product-detail-table.ver1 {
    border-radius: 10px;
    overflow: hidden;
    height: auto;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.product-detail-table.ver1 .ps__rail-y {
    right: 5px;
}

.product-detail-table.ver1 .ps__rail-y::before {
    background-color: #ebebeb;
}

.product-detail-table.ver1 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
}
